.btn{
    padding: .6rem 1rem;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;

    &-locate{
        background-color: white;
        border: none;
        gap: 1rem;
    }
    &-white{
        background-color: white;
        border: 1px solid black;
        color: black
    }
    &-black{
        background-color: black;
        border: 1px solid black;
        color: white;
    }
}



