$color-primary: #008248;
$color-primary--dark: #1e3932;
$color-primary--light: #d4e9e2;
$color-primary--xlight: #f1f8f6;

$color-secondary: rgb(215, 183, 1);

$color-white: #f1f8f6;
$color-white-dark: #f3f1e7;
$color-black: black;



